.img-intestazione{
    margin-bottom:10px;
    padding: 50px 5px 10px;
    background: url("../img/pattern.png");
    background-color: #4da1ff;
    background-size: 37%;
}

#logo{
    width: 15%;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 550;
}

.autore-grigio,.data-grigio{
    color: #868686;
}

h1,.autore-grigio,.data-grigio{
    margin:2px;
}

#blue-copyright{
    color: #1eace6;
}

main{
    margin-top: 10px;
}
.evidenziato-giallo{
    background-color: yellow;
}

.didascalia-img{
    display: block;
    font-size: 75%;
}

.div-testo,.div-ul{
    margin-bottom:25px;
}

ul{
    padding-left:16px;
}

table{
    border-collapse: collapse;      /*elimina spazio tra colonne della tabella*/
}

.prima-colonna,.seconda-colonna{
    width: 25%;
}
.terza-colonna{
    width: 50%;
}

thead{
    background-color: #1aabe6;
    color:white;
    text-align: left;
}

.riga-dispari-blu{
    background-color: #b2e6f2;
}

.titolo-footer-grigio{
    margin-bottom:10px;
    color: #828282;
}

.scritta-img-footer-bianca{
    color:white;
}

.scritta-img-footer-bianca,.scritta-img-footer-bianca{
    display: block;
    padding: 5%;
    font-weight: bold;
}

#img-monitor-footer{
    background-image: url("../img/monitor.jpg");
}

#img-grafico-footer{
    background-image: url("../img/graph.jpg");
}

#img-monitor-footer,#img-grafico-footer{
    background-size: cover;
    background-size: 100%;
    width: 230px;
    height: 210px;
    margin-bottom: 10px;
}